* {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    clear: both;
    width: 1000px;
    height: 600px;
    background-image: url(ani_slide_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    overflow: hidden;
     
}
.menu {
     position: absolute;
     top: 0;
     left: 930px;
     width: 270px;
     height: 600px;
     transition: all 1s;
     
}
.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: pink;
    text-align: center;
    line-height: 70px;
    color: rgb(255, 47, 82);
    font-weight: 700;
    font-size: 15pt;
    cursor: pointer;
}

.menubar {
    position: absolute;
    top: 0;
    left: 70px;
    width: 200px;
    height: 600px;
    cursor: pointer;
}
.menubar > div {
    background-color: rgb(238, 67, 96);
    height: 50px;
    border: 0.5px solid white;
    color: rgb(255, 232, 236);
    font-size: 15pt;
    line-height: 50px;
    text-align: center;
    
    
}
.menubar > div:hover {
    background-color: rgb(247, 24, 61);
}
.menu.open {
    left: 730px;
}