* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    clear: both;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 0, 43, 0.5);
    margin: 50px auto;
}
.c1 {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: rgba(252, 195, 203, 0.5);
    z-index: 2;
    transition: all 1s;
}
.c2 {
    position: absolute;
    top: -50px;
    left: 450px;
    width: 100px;
    height: 100px;
    background-color: rgba(253, 118, 141, 0.5);
    z-index: 2;
    transition: all 1s;
}
.c3 {
    position: absolute;
    top: 450px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: rgb(253, 14, 41, 0.5);
    z-index: 2;
    transition: all 1s;
}
.c4 {
    position: absolute;
    top: 450px;
    left: 450px;
    width: 100px;
    height: 100px;
    background-color: rgba(241, 180, 190, 0.5);
    z-index: 2;
    transition: all 1s;
}
.c1.open{
    top: 200px;
    left: 200px;
}
.c2.open{
    top: 200px;
    left: 200px;
}
.c3.open{
    top: 200px;
    left: 200px;
}
.c4.open{
    top: 200px;
    left: 200px;
}